<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vaccinemanagement">

    <application
        android:allowBackup="true"
        android:icon="@drawable/vaccineicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VaccineManagement">
        <activity android:name=".UserHowToUse" />
        <activity android:name=".UserCovidHelp" />
        <activity android:name=".UserBookCovidTest" />
        <activity android:name=".UserBookVaccine" />
        <activity android:name=".Admin_Analysis" />
        <activity android:name=".AdminTest" />
        <activity android:name=".AdminFortyFive" />
        <activity android:name=".AdminEighteen" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".Home" />
        <activity android:name=".Admin" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>